.card{
    max-width: 300px;
    margin: 2em;
    border-radius: 0 20px 20px 20px;
    box-shadow: 2px 3px 6px #30303045;
}

.product-img{
    max-height: 300px;
    width: 100%;
    overflow: hidden;
}

.product-img img{
    width: 100%;
    border-radius: 0 20px 0 0;
}

.product-title{
    width: 90%;
    background: white;
    font-size: 9px;
    text-align: center;
    margin: auto;
    margin-top: -21px;
    padding: 1px;
    position: relative;
    box-shadow: 2px 2px 4px #30303045;
}

.info{
    display: flex;
    justify-content: space-around;
}

.card::before{
    background: rgb(222,241,255);
background: -moz-linear-gradient(165deg, rgba(222,241,255,1) 1%, rgba(255,222,222,1) 100%);
background: -webkit-linear-gradient(165deg, rgba(222,241,255,1) 1%, rgba(255,222,222,1) 100%);
background: linear-gradient(165deg, rgba(222,241,255,1) 1%, rgba(255,222,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#def1ff",endColorstr="#ffdede",GradientType=1);
}