<!-- Category directive, Ribbon - Apron - Accessories - Etc -->
<div class="hero">

</div>
<!-- Container for product listing -->
<div class="wave-1">
    <img src="" alt="">
    <h4>Thoughtful handmade goods for the maker minded. Style a wedding,
        wear an apron or accent your day with the wonderfully vibrant colors 
        of nature.</h4>
</div>
<!-- Radio buttons to filter by category or by assets -->
<div class="display-products wave-1">
        <div class="filters">
                <app-search-filter [filter]='filter'></app-search-filter>
             </div>
        <div class="search-results">
            <div class="spin" *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>
            <cdk-virtual-scroll-viewport itemSize="100">
                    <div class="results">
                        <div class="results" *cdkVirtualFor="let product of productListing ">
                        <product-card [product]="product"></product-card>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
</div>


