<!-- Category directive, Ribbon - Apron - Accessories - Etc -->

<!-- Container for product listing -->
<!-- Radio buttons to filter by category or by assets -->
<div class="display-products">
        <div class="filters">
                <app-search-filter [filter]='filter'></app-search-filter>
             </div>
             <div class="search-results">
                 <cdk-virtual-scroll-viewport itemSize="100">
                     <div *cdkVirtualFor="let product of productListing ">
                         <product-card [product]="product"></product-card>
                     </div>
                 </cdk-virtual-scroll-viewport>
              </div>
</div>


