<p>
  Thanks for purchasing our products at shopevansgray.com operated by
  Evansgray.<br /><br />
  Shipping<br />
  Expect “in stock” products to be shipped within three (3) days of purchase.
  Items are shipped via USPS within the United States. Custom orders may take
  1-3 weeks to complete and will be shipped in a timely manner upon completion.
  You will be contacted via email should estimated order completion times exceed
  the above.<br /><br />
  Returns<br />
  In order to be eligible for a refund, the product must be returned within 30
  calendar days of purchase date. The product must be in unused condition and in
  original packaging. After the return is received and inspected, a refund will
  be processed. Money will be refunded to the original payment method used for
  purchase. For credit card payments it may take 5 – 10 business days for a
  refund to reflect on your bank or credit card statement. If the product is
  damaged in any way or you have initiated a product return after 30 calendar
  days of purchase, you may not be eligible for a refund. Refunds on damaged
  items or those returned after 30 calendar days are made at the discretion of
  Evansgray’s owner, Emily Harrison. If you have questions feel free to contact
  us at emily@shopevansgray.com.<br /><br />
  For more information, please refer to our Terms of Use and Privacy Policy
</p>
