@import '../../../../styles/variables';

.slide-menu{
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    background-color: white;
    position: absolute;
    overflow: hidden;
    transition: width .7s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1;
}

.open{
    width: 100%;
}


.slide-menu ul li{
    padding: 0em 1em;
    margin-left: -10px !important;
    margin: 35px 0;
  }

.hamburger{
    cursor: pointer;  
    z-index: 2;  
}

.ham{
    background: $pink;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .7s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

.ham div{
    height: 6px;
    margin: 4px -10px;
    width: 80%;
    background-color: white;
    transition: .7s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    border-radius: 10%;
}

.color{
    background: white;

    div{
        background-color: $pink;
    }
}
.loaded{
    display: flex;
    align-items: center;
    min-width: 240px;
    justify-content: space-evenly;
}
