@import "../../../styles/variables";

.hero {
  display: flex;
  flex-direction: row;
  background: url("/assets/hero.png");
  height: 500px;
  justify-content: center;
  align-items: center;
}

.cta {
  padding: 1em;
  text-align: end;
  margin-right: 45px;
}

.hero-img {
  img {
    border: 20px solid white;
    height: 300px;
  }
}

.selection {
  background: url("/assets/dotflowers.png");
}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;

  .category {
    @include shadow;
    height: 369px;
    width: 193px;
    overflow: hidden;
    margin: 1em;
    background-size: cover;
    outline: none;
    transition: 0.5s;

    h4 {
      position: relative;
      top: 36%;
      padding-left: 31%;
      background: white;
      right: 134%;
      width: 100%;
      transition: 0.8s;
    }
  }
}
.white-cover {
  height: 105%;
  width: 100%;
  margin-top: -88px;
  background-color: #ffffff8c;
  position: relative;
  left: 100%;
  transition: 0.6s;
  outline: none;
}

.email-input {
  width: 300px;
  padding: 1em;
  outline: none;
  font-size: 14px;
}

.sign-up {
  display: flex;
  justify-content: center;
  padding: 100px;
  text-align: center;
}

.category:hover {
  @include hoverShadow;
  transform: scale(1.05);

  .white-cover {
    transform: translateX(-100%);
    margin-top: -90px !important;
  }
  h4 {
    transform: translateX(100%);
  }
}

.perks {
  background: $teal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 250px;
  height: 161px;
  align-items: center;

  .perk div {
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 1.5em;
  }
}

.perk-list {
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin-top: 2em;
  width: 80%;
  justify-content: space-evenly;
}

.perk-title {
  text-align: center;
}

.featured {
  padding: 1em 10%;
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured-floral {
  flex: 1;

  img {
    max-height: 475px;
    margin-top: 8em;
  }
}

.featured-cta {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    max-width: 85%;
  }

  p {
    padding: 15px 0;
  }
}

.pink-ribbon-cta {
  display: flex;
  flex-direction: row;
  padding: 10px 7%;
  transform: translateX(-10px);

  div {
    flex: 1;
  }

  .leaves {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      height: 200px;
      transform: translateX(80px);
    }
  }
  .prm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 1em;
    flex: 2;

    p {
      padding: 15px 0;
    }
  }

  .ribbon {
    img {
      width: 250px;
      margin: 10px;
      margin-left: 25px;
    }
  }
}

.pages {
  display: flex;
  flex-direction: column;
  padding: 1em 10%;
}

.rotating-features {
  padding: 4em;
  height: 350px;
  display: flex;
  flex-direction: row;

  div {
    height: 100%;
    margin: 0.5em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    flex: 2;
  }

  :nth-child(2) {
    flex: 1;
  }
}

.rotating-features-2 {
  padding: 4em;
  height: 350px;
  display: flex;
  flex-direction: row;

  div {
    height: 100%;
    margin: 0.5em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    flex: 1;
  }

  :nth-child(2) {
    flex: 2;
  }

  div:hover {
    .white-cover {
      transform: translateX(-100%);
      margin-top: -90px !important;
    }
    h4 {
      transform: translateX(100%);
    }
  }
}

@media only screen and (max-width: 680px) {
}
