<div class="hero">
    <div class="hero-ribbon">
        <img src="../../../assets/hero-ribbon-2.png" alt="" class="ribbon">
    </div>
    <div class="hero-cta">
        <div class="cta-container">
            <h1>Thoughtful</h1>
            <h1 class="handmade">Handmade</h1>
            <h4>High-quality, naturally dyed wares for your home, self, and studio</h4>
            <button class="white-btn"
                    routerLink="/shop">
                    Shop All</button>
        </div>
    </div>
</div> 
<div class="wave-1">
    <h4 class="call">Supplies, wearables, and home additions to 
            accent your lifestyle.</h4>
    <div class="cat-cards">
        <div class="cat">
            <div class="preview">
                <img src="../../../assets/ribbon_classic_seaside_6.jpg" alt="">
            </div>
            <h4>Ribbon</h4>
            <button class="pink-btn animate"
                    [routerLink]="['/shop']"
                    [queryParams]="{ filter: 'ribbon' }">
                    View</button>
        </div>
        <div class="cat" >
            <div class="preview">
                <img src="../../../assets/apron_taupe_blue_front.jpg" alt="">              
            </div>
            <h4>For Body</h4>
            <button class="pink-btn"
                    [routerLink]="['/shop']"
                    [queryParams]="{ filter: 'aprons' }">
                    View</button>
        </div>
        <div class="cat" >
            <div class="preview">
                <img src="../../../assets/napkin_runner_sky_blue_1.jpg" alt="">     
            </div>
            <h4>For Home</h4>
            <button class="pink-btn"
                    [routerLink]="['/shop']"
                    [queryParams]="{ filter: 'table-runners,napkins' }">
                    View</button>
        </div>
        <div class="cat" >
            <div class="preview">
                <img src="../../../assets/pincushion_bliss_no5.jpg" alt="">    
            </div>
            <h4>Notions</h4>
            <button class="pink-btn"
                    [routerLink]="['/shop']"
                    [queryParams]="{ filter: 'notions' }">
                    View</button>
        </div>
    </div>
</div>
<div class="wave-2">
    <div class="scrunchie">
        <div class="scrunchie-img">
            <img src="../../../assets/scrunchies_mix_hair_back.jpg" alt="">
        </div>
        <div class="scrunch-cta">
            <h2>The Scrap Scrunch</h2>
            <div class="cta">
                <h4>Treat your hair to silk scrunchies recycled from 
                    the ribbon dyeing process!
                </h4>
                <button class="pink-btn">Shop</button>
            </div>
        </div>
    </div>
    <div class="promo">
        <form action="">
            <div class="input">
                <h2>Want 10% off?</h2>
                <h4>Sign-up for updates and a discount on your first order</h4>
            <mat-form-field appearance="fill" style="width: 50%; font-size: 15px;">
                <mat-label>email</mat-label>
                <input matInput type="email" >
            </mat-form-field>
            </div>
            <button class="white-btn">Get discount</button>
        </form>
    </div>
</div>
<div class="wave-3">
    <div class="perks">
        <div class="perk-card">
            <h2>Vibrant</h2>
            <div class="perk-img">
                <img class="landscape" src="../../../assets/apron_mix_detail.jpg" alt="">
            </div>
            <h4>Remarkably unique colors.</h4>
        </div>
        <div class="perk-card">
            <h2>Natural</h2>
            <div class="perk-img">
                <img src="../../../assets/ribbon_textured_ivory_detail_emily.jpg" alt="">
            </div>
            <h4>Natural fibers and plant based dyes</h4>
        </div>
        <div class="perk-card">
            <h2>Textiles</h2>
            <div class="perk-img">
                <img class="landscape" src="../../../assets/napkin_copper_plate_setting_1.jpg" alt="">
            </div>
            <h4>Handmade in small batches.</h4>
        </div>
    </div>
</div>
<div class="selections">
    <div class="time">
        <div class="time-img">
            <img src="../../../assets/apron_pattern_cloud_blue_scrunchies_front_1.jpg" alt="">
        </div>
        <h4 class="time-cta">Natural dyes narrate the passage of time by showing
            slight color shifts influenced by the life they've led.
        </h4>
    </div>
    <div class="favorites">
        <h2>A Selection of Favorites</h2>
        <div class="favorite-cards">
            <div class="favorite">
                <div class="preview">
                    <img class="big" src="../../../assets/scrunchies_mini_pack_back.jpg" alt="">
                </div>
                <h4>Mini scrunchies</h4>
                <button class="pink-btn">View</button>
            </div>
            <div class="favorite">
                <div class="preview">
                    <img class="big" src="../../../assets/pincushion5.jpg" alt="">
                </div>
                <h4>Pincushion</h4>
                <button class="pink-btn">View</button>
            </div>
            <div class="favorite">
                <div class="preview">
                    <img class="big" src="../../../assets/ribbon_classic_atlantic_fog_4.jpg" alt="">
                </div>
                <h4>Atlantic fog</h4>
                <button class="pink-btn">View</button>
            </div>
            <div class="favorite">
                <div class="preview">
                    <img src="../../../assets/apron_mustard_bliss_side.jpg" alt="">
                </div>
                <h4>Mustard bliss</h4>
                <button class="pink-btn">View</button>
            </div>
        </div>
    </div>
</div>