@import "../../../styles/variables";

//
// HERO HOME COMPONENT
//

.hero {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin: 7em 2em;
  flex-wrap: wrap;
}

.cta {
  padding: 1em;
  text-align: end;
  margin-right: 90px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h3 {
    padding: 1em 0;
  }
  .thoughtful {
    margin-right: 2.5em;
  }
}

.watercolor-10 {
  background: url(../../../assets/watercolor-10.png);
  mix-blend-mode: multiply;
  opacity: 0.34;
  width: 499px;
  height: 534px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  position: absolute;
  display: block;
  transform: translate(149px, -434px);
}

.watercolor-18 {
  background: url(../../../assets/watercolor-18.png);
  mix-blend-mode: multiply;
  opacity: 0.24;
  width: 551px;
  height: 534px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  position: absolute;
  display: block;
  transform: translate(-125px, -333px);
}

.hero-img {
  flex: 1;

  .hero-image-wrapper {
    @include white-shadow;
    width: 350px;
    height: 437px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    background: white;
    z-index: 1;

    img {
      width: 100%;
    }
  }

  .hero-image-wrapper::after {
    @include inner-shadow;
    bottom: 0;
    content: "";
    bottom: 21px;
    content: "";
    display: block;
    height: 437px;
    position: absolute;
    width: 350px;
  }
}

@media only screen and (max-width: 1400px) {
  .cta {
    margin-right: 132px;
  }

  .watercolor-10 {
    width: 392px;
    height: 534px;
    transform: translate(149px, -354px);
  }

  .watercolor-18 {
    width: 482px;
    transform: translate(-125px, -281px);
  }

  .hero-img {
    flex: 1;
    position: relative;
    z-index: 1;

    .hero-image-wrapper {
      width: 290px;
      height: 365px;

      img {
        width: 100%;
      }
    }

    .hero-image-wrapper::after {
      @include inner-shadow;
      bottom: 0;
      content: "";
      bottom: 22px;
      content: "";
      display: block;
      height: 363px;
      position: absolute;
      width: 291px;
    }
  }
}

//
// SLIDES
//

.slide {
  @include shadow;
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin: 2em 3em;
  width: 800px;
  max-height: 383px;
  // overflow: hidden;
  background: white;
}

.slide-cta {
  flex: 1;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;

  button {
    margin-left: 72%;
  }
}

.slide-img {
  flex: 1;

  .slide-image-wrapper {
    @include white-shadow;
    width: 275px;
    height: 343px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    background: $light-pink;
    z-index: 2;

    img {
      width: 100%;
    }
  }

  .slide-image-wrapper::after {
    @include inner-shadow;
    bottom: 0;
    content: "";
    bottom: 21px;
    content: "";
    display: block;
    height: 343px;
    position: absolute;
    width: 275px;
  }
}

.watercolor-15 {
  background: url(../../../assets/watercolor-15.png);
  mix-blend-mode: multiply;
  opacity: 0.34;
  width: 398px;
  height: 534px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  position: absolute;
  display: block;
  transform: translate(48px, -411px);
}

.watercolor-17 {
  background: url(../../../assets/watercolor-17.png);
  mix-blend-mode: normal;
  opacity: 0.44;
  width: 259px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  position: absolute;
  display: block;
  transform: translate(162px, -120px);
}

.scrunchie {
  background: url(../../../assets/products/scrunchies_buns_gold_blush_detail_2.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-position-x: -25px;
}

.ribbon {
  background: url(../../../assets/products/ribbon_classic_antique_gold_6.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-position-x: -25px;
}

.square-cta {
  margin-left: 2em;
}

.square-slide {
  width: 355px !important;
}

.square-slide::after {
  width: 355px !important;
}

.watercolor-ribbon-2 {
  background: url(../../../assets/watercolor-17.png);
  mix-blend-mode: normal;
  opacity: 0.64;
  width: 343px;
  height: 129px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-position-x: 20px;
  display: block;
  transform: translate(-73px, -97px);
}

.watercolor-scrunchie {
  background: url(../../../assets/watercolor-17.png);
  mix-blend-mode: normal;
  opacity: 0.44;
  width: 317px;
  height: 153px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-position-x: -47px;
  background-position-y: bottom;
  display: block;
  transform: translate(-32px, -415px);
}

// CAT HOME

.blue-section {
  background: $teal;
  height: 500px;
  margin-top: 15em;
  padding-top: 18em;
  padding-bottom: 15em;
  overflow-x: hidden;
}

.selection {
  margin-top: -21.5em;

  h2 {
    margin: 2em !important;
    margin: auto;
    text-align: center;
    color: $blue;
  }
}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .category {
    @include shadow;
    @include inner-shadow;
    cursor: pointer;
    height: 305px;
    width: 180px;
    overflow: hidden;
    margin: 1em;
    background-size: cover;
    outline: none;
    transition: 0.5s;

    h4 {
      position: relative;
      top: 36%;
      padding-left: 31%;
      background: white;
      right: 134%;
      width: 100%;
      transition: 0.8s;
      z-index: 2;
    }
  }
}

.white-cover {
  height: 105%;
  width: 100%;
  margin-top: -88px;
  background-color: #ffffff8c;
  position: relative;
  left: 100%;
  transition: 0.6s;
  outline: none;
}

//
// NATURAL COLOR
//

.natural-color {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: auto;
  padding: 13em 0;
  flex-wrap: wrap;

  .natural-color-pink {
    flex: 1;
    padding: 1em;

    img {
      max-width: 400px;
    }
  }

  .natural-color-cta {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

    h2 {
      color: $blue;
    }

    p {
      padding: 1em 0;
    }
  }
}

.row-reverse {
  flex-direction: row-reverse !important;
}

.flex-end {
  align-items: flex-end !important;
}

.vertical-divider {
  width: 1px;
  background: #e0e0e0;
  height: 350px;
  margin: 2em;
}

//
// JOIN
//

.join {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
  }

  input {
    height: 10px;
    width: 300px;
    padding: 14px;
    color: $gray;
    margin: 2em;
    position: relative;
    z-index: 1;
  }

  input:focus {
    outline: $light-pink auto 1px;
  }
}

.watercolor-16 {
  height: 426px;
  display: inline;
  position: absolute;
  transform: translate(-241px, -172px) rotate(269deg);
  z-index: 0;
}

.bouquet {
  width: 121px;
  transform: translate(195px, -7px);
  display: block;
  position: absolute;
  z-index: 1;
}

// TIMELESS

//
// BESPOKE
//

.bespoke {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2em;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.bespoke-image {
  @include white-shadow;
  overflow: hidden;
  padding: 20px;
  position: relative;
  background: white;
  margin: 1em;

  img {
    width: 100%;
  }
}

.bespoke-cta {
  @include shadow;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 3em;
  padding: 2em;
  height: 200px;
  background: white;

  h2 {
    padding-bottom: 20px;
    color: $blue;
  }

  p {
    padding-bottom: 20px;
  }
}

.wc3 {
  width: 100px;
  position: absolute;
  transform: translate(790px, -307px) scaleX(-1) rotate(-23deg);
  z-index: 1;
}

.wc1 {
  width: 413px;
  position: absolute;
  transform: translate(620px, -357px) rotate(91deg);
  z-index: 0;
}

.email-input {
  width: 300px;
  padding: 1em;
  outline: none;
  font-size: 14px;
}

.sign-up {
  display: flex;
  justify-content: center;
  padding: 100px;
  text-align: center;
}

.category:hover {
  .white-cover {
    transform: translateX(-100%);
    margin-top: -90px !important;
  }
  h4 {
    transform: translateX(100%);
  }
}

.perks {
  background: $teal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 250px;
  height: 161px;
  align-items: center;

  .perk div {
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 1.5em;
  }
}

.perk-list {
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin-top: 2em;
  width: 80%;
  justify-content: space-evenly;
}

.perk-title {
  text-align: center;
}

.featured {
  padding: 1em 10%;
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured-floral {
  flex: 1;

  img {
    max-height: 475px;
    margin-top: 8em;
  }
}

.featured-cta {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    max-width: 85%;
  }

  p {
    padding: 15px 0;
  }
}

.pink-ribbon-cta {
  display: flex;
  flex-direction: row;
  padding: 10px 7%;
  transform: translateX(-10px);

  div {
    flex: 1;
  }

  .leaves {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      height: 200px;
      transform: translateX(80px);
    }
  }

  .prm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 1em;
    flex: 2;

    p {
      padding: 15px 0;
    }
  }

  .ribbon {
    img {
      width: 250px;
      margin: 10px;
      margin-left: 25px;
    }
  }
}

.pages {
  display: flex;
  flex-direction: column;
  padding: 1em 10%;
}

.rotating-features {
  padding: 4em;
  height: 350px;
  display: flex;
  flex-direction: row;

  div {
    height: 100%;
    margin: 0.5em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    flex: 2;
  }

  :nth-child(2) {
    flex: 1;
  }
}

.rotating-features-2 {
  padding: 4em;
  height: 350px;
  display: flex;
  flex-direction: row;

  div {
    height: 100%;
    margin: 0.5em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    flex: 1;
  }

  :nth-child(2) {
    flex: 2;
  }

  div:hover {
    .white-cover {
      transform: translateX(-100%);
      margin-top: -90px !important;
    }
    h4 {
      transform: translateX(100%);
    }
  }
}

@media only screen and (max-width: 680px) {
  .cta {
    margin: 0;
    align-items: center;
  }

  .hero-img .hero-image-wrapper {
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .handmade {
    margin-right: -128px;
  }

  .watercolor-18 {
    display: none;
  }

  .watercolor-10 {
    display: none;
  }

  .carousel {
    display: none;
  }

  .blue-section {
    padding-top: 0;
    padding-bottom: 8em;
    margin-top: 0;
  }

  .natural-color {
    padding: 13em 4em;
  }

  .bouquet {
    display: none;
  }
}

.timeless-p {
  text-align: end;
}

.item {
  padding: 0;
  width: 600px;
  height: 300px;
  background-color: crimson;
  color: #fff;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}
