<div class="hero">
    <div class="hero-ribbon">
        <img src="../../../assets/hero-ribbon.png" alt="" class="ribbon">
    </div>
    <div class="hero-cta">
        <div class="cta-container">
            <h1>Thoughtful</h1>
            <h1 class="handmade">Handmade</h1>
            <h4>High-quality, naturally dyed wares for your home, self, and studio</h4>
            <button class="white-btn">Shop All</button>
        </div>
    </div>
</div> 
<div class="wave-1">

</div>
<div class="wave-2">

</div>
<div class="wave-3">

</div>