<div  class="checkout-header">
    <button (click)="previous()">Back</button>
</div>
<div class="checkout">
    <button *ngIf="orderData && close" (click)="returnToShipping()">shipping</button>
    <div class="payment-info">
        <app-shipping *ngIf="!close" 
                      [close]='close'
                      (orderEvent)="receiveOrder( $event )"
                      (closeEvent)="receiveClose( $event )"></app-shipping>
        <app-make-payment *ngIf="orderData && close" 
                          [orderData]="orderData" ></app-make-payment>
    </div>
    
    <div class="shopping-cart">
        <app-cart-display></app-cart-display>
    </div>
</div>
