@import "../../../styles/variables";

.checkout {
  width: 100%;
  display: flex;
  height: 100vh;
}

.payment-info {
  flex: 2;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em 0;
}

.shopping-cart {
  flex: 1;
  padding: 2em 0;
  background-color: $light-gray;
  box-shadow: inset 0px 0 7px 3px #58535314;
}

.checkout-header {
  padding: 2em;
}

.info {
  width: 50%;

  ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      padding: 1em;
    }
  }
}

.payment {
  width: 100%;
}

@media only screen and (max-width: 680px) {
  .checkout {
    flex-direction: column;
  }

  .shopping-cart {
    width: 100%;
  }

  .payment-info {
    width: 100%;
  }
}

select {
  padding: 9px;
  border: none;
  background: $teal;
  color: $blue;
  margin: 1em;
  outline: none;
  margin-left: 0;
}

.checkout-img {
  height: 100px;
}

.info-ul {
  color: $blue;
}
