<div class="checkout" *ngIf="!_router.url.includes('success')">
       <div class="payment-info">
            <div  class="checkout-header">
                    <button class="pink-btn" (click)="previous()">
                            <span class="material-icons" style="fill: white; padding-right: 5px;">
                                    keyboard_backspace
                            </span>
                            Return</button>
                </div>
        <app-shipping *ngIf="!close" 
                      [close]='close'
                      [items]="cart$ | async"
                      [cartTotal]="cartTotal$ | async"
                      (orderEvent)="receiveOrder( $event )"
                      (closeEvent)="receiveClose( $event )"></app-shipping>
        <app-make-payment *ngIf="orderData && close" 
                          (closeEvent)="receiveClose( $event )"
                          [orderData]="orderData" 
                          class='payment'></app-make-payment>
        <div class="info">
            <mat-divider></mat-divider>
            <ul>
                <li #refunds (click)="openDialog( refunds.innerHTML )">Refunds</li>
                <li #shipping (click)="openDialog( shipping.innerHTML )">Shipping</li>
            </ul>
        </div>
    </div>
    
    <div class="shopping-cart">
        <app-cart-display [close]='close'></app-cart-display>
    </div>  
</div>
<router-outlet></router-outlet>
