<div class="cart">
    <div *ngIf='auth.user$ | async ' class="cart-holder">
    <div class="checkout-card" *ngFor="let product of displayCart | async">
        <div class="checkout-img"
             [matBadge]="product.quantity">
             <div class="img-container">
                    <img src="/assets/{{product.main}}" alt="">
             </div>
        </div>
        <div class="checkout-info">
            <div class="top">
                <h4>{{product.title}}</h4>              
            </div>
            <div class="bottom">
                <p>{{product.price | dollars}}</p>
                    <i class="material-icons"
                        (click)="removeFromCart(product)"
                        matTooltip="Remove from cart"
                        style="font-size: 20px;">
                            remove_circle
                    </i>
                <div class="change-qty">
                        <mat-form-field class="qty" style="width: 45px;">
                            <mat-label>
                                qty.
                            </mat-label>
                            <mat-select (selectionChange)='addToCart(product, $event.value)' 
                                        matNativeControl 
                                        [value]="quantity" 
                                        >
                                <mat-option *ngFor="let number of inventory(product)" value="{{number}}">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
            </div>
            </div>
        </div>
    </div>
    <div class="totals">
            <mat-divider></mat-divider>
        <div class="column">
            <div class="shipping"><h5>Shipping</h5>
                <span class="material-icons" style="margin-left: 5px; font-size: 20px; cursor: pointer;"
                      (click)="openDialog()">
                      help
                </span>
            </div>
            <div><h5>Free!</h5></div>
        </div>
        <div class="column">
            <div><h5>Tax</h5></div>
            <div><h5>calculated before payment</h5></div>
        </div>
        <mat-divider></mat-divider>
        <div class="column">
            <div><h5>Total</h5></div>
            <div><h5>{{ cartTotal | async | dollars }}</h5></div>
        </div>
    </div>
</div>
