<div *ngIf='auth.user$ | async '>
    <div class="checkout-card" *ngFor="let product of displayCart | async">
        <div class="checkout-img"
             [matBadge]="product.quantity">
             <div class="img-container">
                    <img src="/assets/{{product.main}}" alt="">
             </div>
        </div>
        <div class="checkout-info">
            <div class="top">
                <h4>{{product.title}}</h4>              
            </div>
            <div class="bottom">
                <p>{{product.price | dollars}}</p>
                <i class="material-icons"
                    (click)="removeFromCart(product)"
                    matTooltip="Remove from cart">
                        remove_circle</i>
                <div class="change-qty">
                    <button (click)="display(product.inventory, $event)" [hidden]="show">Change quantity</button>
                    <div [hidden]="!show">
                        <mat-form-field class="qty" style="width: 45px;">
                            <mat-label>qty.</mat-label>
                            <mat-select matNativeControl [(value)]="quantity" required>
                                <mat-option *ngFor="let number of inventory" value="{{number}}">{{number}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button (click)='addToCart(product, quantity)' class="update">Update</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="totals">
        <div class="column">
            <div><h5>Shipping</h5></div>
            <div><h5>Free!</h5></div>
        </div>
        <div class="column">
            <div><h5>Tax</h5></div>
            <div><h5>...</h5></div>
        </div>
        <div class="column">
            <div><h5>Total</h5></div>
            <div><h5>{{ cartTotal | async | dollars }}</h5></div>
        </div>
        <button (click)="see()">this</button>
</div>

