@import '../../../_variables.scss';

.profile{
    width: 2.5em;
    border-radius: 50%;
}

.profile-wrapper{
    background: #ffe0e6cc;
    text-align: center;
    padding: 5px;
    margin-top: -8px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    list-style: none;
    display: flex;

    li{
        padding: 7px 23px;
        color: white;
    }
}

.about{
    background-color: $blue;
}

.shop{
    background-color: $teal;
}

.contact{
    background-color: $pink;
}

.basket{
    margin: .5em 1em;
}