
<div class="nav-bar" >
    <ul class="nav-links">
        <li routerLink="/shop">Shop</li>
    </ul>
    <i  *ngIf='auth.user$ | async' 
        class="material-icons basket" 
        [matBadge]="size | async " 
        [matBadgeHidden]="!(size | async)"
        routerLink="/checkout"> 
        shopping_basket</i>
    <div class="auth">
    <div *ngIf='!(auth.user$ | async )'>
        <button 
            class="login"
            (click)="openModal()"
            > 
            Login
        </button>
    </div>
    <div *ngIf='auth.user$ | async as user'>
        <button mat-button [matMenuTriggerFor]='userMenu'>
                Welcome, {{ firstName( user.displayName) }}! 
                <i class="material-icons">
                        expand_more
                        </i>
        </button>
            <mat-menu #userMenu='matMenu'>
                <div class='profile-wrapper'>
                        <img [src]='user.photoURL' 
                        class='profile'
                        *ngIf='user.photoURL'>
                </div>
                <button mat-menu-item
                        >
                        View Cart</button>
                <button mat-menu-item
                        >
                        Order History</button>
                <button mat-menu-item
                        (click)="auth.signOut()">
                        Log out</button>
            </mat-menu>
    </div>
</div>
</div>
<app-login-modal [toggleModal]="toggleModal" 
                 *ngIf="toggleModal"></app-login-modal>
