.profile{
    width: 2.5em;
    border-radius: 50%;
}

.profile-wrapper{
    background: #ffe0e6cc;
    text-align: center;
    padding: 5px;
    margin-top: -8px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
    align-items: center;

    .loaded{
        display: flex;
        align-items: center;
        min-width: 240px;
        justify-content: space-evenly;

        .login{
            padding: 10px 15px;
        }
    }

}

.nav-links{
    background: tan;
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 10px;

    li{
        padding: 11px 25px;
        color: white;
    }
}

.basket{
    margin: .5em 1em;
}