@import '../../../variables';

.profile{
    width: 2.5em;
    border-radius: 50%;
}

.profile-wrapper{
    background: #ffe0e6cc;
    text-align: center;
    padding: 5px;
    margin-top: -8px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;

    img{
        width: 75px;
    }

    .loaded{
        display: flex;
        align-items: center;
        min-width: 240px;
        justify-content: space-evenly;

        .login h3{
            background-color: white;
            color: $pink;
            padding: 5px 20px;
            box-shadow: 0px 3px 4px #5a27271f;
        }
    }

}

.nav-links{
    background: $pink;
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0;
    box-shadow: 0px 3px 4px #5a27271f;

    li{
        padding: 5px 30px;
        color: white;
        outline: none;
        cursor: pointer;
    }
}

.basket{
    margin: .5em 1em;
}

.header-right{
    display: flex;
}