
<div class="nav-bar" >
    <img src="/assets/EvansgrayLogo.png" alt="">
    
    <mobile-nav class="mobile-nav"></mobile-nav>

    <div class="header-right">
    <ul class="nav-links">
        <li routerLink="/"><h3>Home</h3></li>
        <li routerLink="/shop"><h3>Shop</h3></li>
        <li ><h3>About</h3></li>
        <li ><h3>Contact</h3></li>
    </ul>
    <div class="loaded">

    <i  class="material-icons basket"
        style="color: #5B88A3; outline: none; font-size: 30px;"
        [matBadge]="size | async " 
        [matBadgeHidden]="!(size | async)"
        matTooltip="See Cart"
        routerLink="/checkout"> 
        shopping_basket</i>
    <div class="auth">
    <button class="white-btn"
            (click)="openModal()"
            *ngIf='!(auth.user$ | async )'
            style="font-size: 16px;">
            <h3>Login</h3></button>
    <div *ngIf='auth.user$ | async as user'>
            <div [matMenuTriggerFor]='userMenu'>
                    <img [src]='user.photoURL' 
                         class='profile'
                         *ngIf='user.photoURL'>
                    <button *ngIf="!user.photoURL"
                            mat-button 
                            style="font-family: 'Playfair Display';">
                    Welcome, {{ firstName( user.displayName) }}! 
                    </button>
                    <i class="material-icons" style="color: white; cursor: pointer;">
                            expand_more
                            </i>
            </div>
            <mat-menu #userMenu='matMenu' xPosition="before" >
                <button mat-menu-item
                        routerlink="/checkout">
                        View Cart</button>
                <button mat-menu-item
                        [routerLink]="['/account', user.displayName]">
                        Order History</button>
                <button mat-menu-item
                        *ngIf="user.admin"
                        routerLink="/dashboard">
                        Dashboard</button>
                <button mat-menu-item
                        (click)="auth.signOut()">
                        Log out</button>
            </mat-menu>
        </div>
    </div>
    </div>
</div>
</div>
<app-login-modal [toggleModal]="toggleModal" 
                 *ngIf="toggleModal"
                 (toggleEvent)="recieveToggle($event)"></app-login-modal>
