<div class="card" >
    <div class="preview"
         [style.background-image]="'url(assets/products/' + product.main + '.jpg)'">
        <div class="title">
            <h4>{{product.title}}</h4>
        </div>
    </div>
    <h4 *ngIf="product.inventory == 0">Sold Out</h4>
    <button class="pink-btn flex-btn" 
            *ngIf="product.inventory > 0" 
            [routerLink]="['/product', product.title ]">
            {{product.price | dollars}}
            <span class="space"></span>
            View</button>
</div>
