// Primary colors
$blue: #5b88a3;
$teal: #e3ebee;
$pink: #ffa7a7;
$light-pink: #ffd1d1;
$gray: #585353;
$light-gray: #f9f9f9;

// #FFB1B2
// #FFBABA
// #ffa7a7

// Alert
$error: #ff9793;
$error-text: white;
$snackbar: #83bfdb;
$snackbar-text: white;

@mixin shadow {
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.09);
}

@mixin inner-shadow {
  box-shadow: inset -4px -2px 8px rgba(0, 0, 0, 0.16),
    inset 0px 4px 4px rgba(0, 0, 0, 0.16);
}

@mixin white-shadow {
  box-shadow: inset -4px -2px 8px rgba(0, 0, 0, 0.16),
    inset 0px 4px 4px rgba(0, 0, 0, 0.16), 9px -6px 16px #ffffff;
}

@mixin green-btn-big {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 600;
  font-size: 24px;
  background-color: $blue;
  color: white;
  border: none;
  width: fit-content;
  width: 148px;
  height: 43.24px;
  display: flex;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.6s;
}

@mixin green-btn {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: $blue;
  color: white;
  border: none;
  width: fit-content;
  width: 121px;
  height: 33.24px;
  display: flex;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.6s;
}

@mixin light-blue {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: $teal;
  color: $blue;
  border: none;
  width: fit-content;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.6s;
}

@mixin light-blue-sm {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: $teal;
  color: $blue;
  border: none;
  width: fit-content;
  width: 100px;
  height: 24px;
  display: flex;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: 0.6s;
  margin: 15px;
}
