/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP:wght@400;600&display=swap");
@import "./variables";

html,
body {
  height: 100%;
}

.container {
  background: $light-gray;
  z-index: -3;
}

body {
  margin: 0;
}

a {
  padding: 5px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;

  font-weight: 400;
}

h1 {
  font-size: 60px;
  color: $blue;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 32px;
  color: $gray;
  margin: 0;
}

h3,
h4,
h5 {
  color: $gray;
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  color: $gray;
  font-size: 14px;
}

.mat-checkbox-inner-container {
  background: $pink;
}

.mat-badge-content {
  background: $blue;
}

.green-btn {
  @include green-btn;
  transition: 0.7s;
  border: 2px solid $blue;
}

.light-blue-btn {
  @include light-blue;
}

.light-blue-sm {
  @include light-blue-sm;
}

.orange-btn {
  @include orange-btn-big;
}
.green-btn:hover {
  background: white;
  color: $blue;
}

.disabled {
  opacity: 0.4;
  cursor: default !important;
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 50px;
  }
}

.open {
  overflow: hidden;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $blue;
  background: white;
}

.mat-form-field-label {
  color: $blue;
}

.mat-select-value {
  color: $blue;
}

.mat-dialog-container {
  background: white;
  height: auto !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $blue;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $blue;
}
