<div 
    [ngClass]="{ 'modal-open' : toggleModal }"
    *ngIf="toggleModal"
    (click)="closeModal()"
    >
</div>
<div *ngIf="toggleModal"
     class="modal">
        <div class="logo">
            <img src="/assets/EvansgrayLogo.png" alt="">
        </div>
        <h4 *ngIf="!signUp" class="notice">Login or register with one of the option below</h4>
        <div class="stationary">
            <button *ngIf="!signUp"
                    class="email white-btn"
                    (click)="signUp = true">
                        <span class="material-icons">
                                email
                        </span>
                    Email 
            </button>
        <form [formGroup]="form"  
              class="login-form"
              *ngIf="signUp">
            <div class="form-group" *ngIf="!toggleLoginForm">
                <mat-form-field >
                    <mat-label>Name</mat-label>
                    <input
                    placeholder="First & Last"
                    formControlName="name"
                    matInput required
                    id="name"
                    type="text">
                </mat-form-field>
                </div>
            <div class="form-group">
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input
                    formControlName="email"
                    matInput required
                    id="email"
                    type="text">
                </mat-form-field>
            </div>
            <div class="form-group" class="password">
                <mat-form-field >
                    <mat-label>Password</mat-label>
                    <input
                    formControlName="password"
                    matInput required
                    id="password"
                    type="password">
                </mat-form-field>
            <button *ngIf="!toggleLoginForm"
                    class="white-btn" 
                    color="accent" 
                    (click)="emailRegister()"
                    >Register</button>
            <button *ngIf="toggleLoginForm"
                    class="white-btn"
                    color="accent" 
                    (click)="emailLogin()"
                    >Log In</button>
            <a (click)="loginForm()" *ngIf="toggleLoginForm">Register</a>
            <a (click)="loginForm()" *ngIf="!toggleLoginForm">Login</a>
            </div>
        </form>
       
        <mat-divider *ngIf="!signUp" > </mat-divider>
        <button *ngIf="!signUp"
                (click)="googleSignIn()"
                color="primary"
                class="google white-btn">
                <img src="/assets/256px-Google__G__Logo.png" alt="">
            Google 
        </button>
        </div>
</div>
