@import '../../../../variables';

.modal-open{
    background: rgba(0, 0, 0, 0.26);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal{
        @include shadow;
        background-image: url('../../../../assets/modal-wave.svg');
        background-size: cover;
        height: 475px;
        width: 300px;
        z-index: 11;
        position: absolute;
        left: 60%;
        margin-left: -25%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .login-form{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .password{
            display: flex;
            flex-direction: column;

            a{
                text-align: center;
                padding: 5px;
            }
        }
}

.logo{
    border-radius: 100%;
    background: white;
    width: 6em;
    height: 6em;
    display: block;
    text-align: center;

    img{
        width: 4em;
        padding-top: 9px;
        margin-left: -4px;
    }
}
