<div class="payment-info" >
    <div class="sr-root" >
        <div class="sr-main">
          <mat-spinner *ngIf="loading" style="height: 100%;"></mat-spinner>
          <form id="payment-form" class="sr-payment-form" [hidden]="loading">
            <div class="sr-combo-inputs-row">
              <div class="sr-input sr-card-element" id="card-element"></div>
            </div>
            <div class="sr-field-error" id="card-errors" role="alert"></div>
            <button id="submit">
              <span id="button-text" >Pay</span><span id="order-amount"></span>
            </button>
  </form>
        </div>
    </div>
</div>
<div class="navigation" >
    <p (click)="returnToShipping()">return to shipping</p>
</div>

