<div class="container">
  <app-header *ngIf="!_router.url.includes('checkout')"></app-header>

  <!-- <div
    [@routerAnimations]="prepareRouteTransition(outlet)"
    class="route-container content"
  >
    <router-outlet
      #outlet="outlet"
      (window:beforeunload)="sendCartAbandoned()"
    ></router-outlet>
  </div> -->

  <main class="route-container content">
    <router-outlet></router-outlet>
  </main>

  <footer *ngIf="!_router.url.includes('checkout')">
    <app-footer *ngIf="show"></app-footer>
  </footer>
</div>
