@import '../../../styles/variables';

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 260px;
    margin: 15px;
}

.product-img{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-height: 200px;
    overflow: hidden;

    img{
        width: 100%
    }
}


.product-title{
    color: $gray;
    background: white;
    text-align: center;
    margin: auto;
    padding: 5px;
    position: relative;
    margin: 5px;

    h4{
        font-size: 16px;
        margin: 0;
    }

}


.info h4{
    margin: auto;
}

.info{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-bottom: 15px;

    button{
        flex: 1;
    }

    h4{
        font-size: 20px;
        color: $gray;
        flex: 1;
        text-align: center;
    }
}