<div class="card" [routerLink]="['/product', product.title]">
  <div
    class="preview"
    [style.background-image]="'url(assets/products/' + product.main + '.jpg)'"
  >
    <div class="price">
      <p>{{ product.price | dollars }}</p>
    </div>
  </div>
  <div class="title">
    <p [routerLink]="['/product', product.title]">{{ product.title }}</p>
  </div>
  <div class="view">
    <p *ngIf="product.inventory == 0">Sold Out</p>
    <span
      class="material-icons"
      [routerLink]="['/product', product.title]"
      style="color:#5b88a3 "
    >
      keyboard_arrow_right
    </span>
  </div>
</div>
