@import '../../../variables';

.card{
    @include shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 260px;
    margin: 2em;
    height: 90%;
}

.product-img{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-height: 200px;
    overflow: hidden;

    img{
        width: 100%
    }

    h4{
        color: $gray;
        margin-left: -39px;
        padding: 2px;
        margin-bottom: 2px;
        position: relative;
        background: white;
    }
}


.product-title{
    color: $gray;
    background: white;
    text-align: center;
    margin: auto;
    padding: 5px;
    position: relative;
    margin: 5px;

    h4{
        font-size: 20px;
        margin: 0;
    }

}


.info h4{
    margin: auto;
}

.pink-btn{
    font-family: "Playfair Display";
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-bottom: 15px;

    button{
        flex: 1;
    }

    h4{
        border: 2px solid $pink;
        font-size: 25px;
        color: $gray;
        flex: 1;
        text-align: center;
    }
}