<div class="filters">
    <mat-accordion multi="ture" displayMode="flat">
        <mat-expansion-panel expanded="false" >
            <mat-expansion-panel-header> 
                    Categories
            </mat-expansion-panel-header>
                <div *ngFor="let cat of categories">
                    <mat-checkbox value='{{cat}}'
                                  (change)="setFilter($event, cat)"
                                  [checked]='this.filter ? this.filter.includes(cat) : false'>
                                  {{cat}}</mat-checkbox>
                </div>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                    Colors
            </mat-expansion-panel-header>
                <div class="color-selection">
                    <div *ngFor="let color of colors">
                        <mat-checkbox value='{{color}}'
                                      (change)="setFilter($event, color)"
                                      [checked]='this.filter ? this.filter.includes(color) : false'>
                                      {{color}}</mat-checkbox>
                    </div>
                </div>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
                    Material
            </mat-expansion-panel-header>
                    <div *ngFor="let mat of materials">
                        <mat-checkbox value='{{mat}}'
                                      (change)="setFilter($event, mat)"
                                      [checked]='this.filter ? this.filter.includes(mat) : false'>
                                      {{mat}}</mat-checkbox>
                    </div>
        </mat-expansion-panel>        
    </mat-accordion>
</div>