.filters{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 250px;
    margin: auto;
}

.categories{
    flex:1;
}



.color-selection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.color-selection div{
    width: 50%;
}

.material{
    flex: 1;
}