<div class="filters" *ngIf="(filter$ | async) as f">
    <mat-card>
            <mat-card-title style="font-family: 'Open Sans'; color: #585353;"> 
                    Categories
            </mat-card-title>
                <div *ngFor="let cat of f.category">
                    <mat-checkbox value='{{cat}}'
                                  style="font-family: 'Open Sans'; color: #585353;"
                                  (change)="setFilter($event, cat)"
                                  [checked]='filter ? filter.includes(cat) : false'>
                                  {{cat}}</mat-checkbox>
                </div>
    </mat-card>
    <mat-card>
            <mat-card-title style="font-family: 'Open Sans'; color: #585353;">
                    Colors
            </mat-card-title>
                <div class="color-selection">
                    <div *ngFor="let color of f.color">
                        <mat-checkbox value='{{color}}'
                                      style="font-family: 'Open Sans'; color: #585353;"
                                      (change)="setFilter($event, color)"
                                      [checked]='filter ? filter.includes(color) : false'>
                                      {{color}}</mat-checkbox>
                    </div>
                </div>
        </mat-card>
        <mat-card>
            <mat-card-title style="font-family: 'Open Sans'; color: #585353;">
                    Material
            </mat-card-title>
                    <div *ngFor="let mat of f.material">
                        <mat-checkbox value='{{mat}}'
                                      style="font-family: 'Open Sans'; color: #585353;"
                                      (change)="setFilter($event, mat)"
                                      [checked]='filter ? filter.includes(mat) : false'>
                                      {{mat}}</mat-checkbox>
                    </div>
        </mat-card>        
</div>