.filters{
    display: flex;
    flex-direction: row;
    max-width: 800px;
    max-height: 250px;
    margin: auto;
}

.categories{
    flex:1;
}

.colors{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.colors h4{
    margin: auto;
}

.color-selection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4em;
    margin-left: 10%;
}

.color-selection div{
    width: 50%;
}

.material{
    flex: 1;
}