<div class="filters" *ngIf="filter$ | async as f">
  <mat-card class="card" style="background: #ffa7a7;">
    <mat-card-title style="font-family: 'Open Sans'; color: white;">
      Categories
    </mat-card-title>
    <div *ngFor="let cat of f.category">
      <mat-checkbox
        value="{{ cat }}"
        style="font-family: 'Open Sans'; color: white"
        (change)="setFilter($event, cat)"
        [checked]="filter ? filter.includes(cat) : false"
      >
        {{ cat }}</mat-checkbox
      >
    </div>
  </mat-card>
  <mat-card class="card" style="background: #ffa7a7;">
    <mat-card-title style="font-family: 'Open Sans'; color: white;">
      Colors
    </mat-card-title>
    <div class="color-selection">
      <div *ngFor="let color of f.color">
        <mat-checkbox
          value="{{ color }}"
          style="font-family: 'Open Sans'; color:white;"
          (change)="setFilter($event, color)"
          [checked]="filter ? filter.includes(color) : false"
        >
          {{ color }}</mat-checkbox
        >
      </div>
    </div>
  </mat-card>
  <mat-card class="card" style="background: #ffa7a7;">
    <mat-card-title style="font-family: 'Open Sans'; color: white;">
      Material
    </mat-card-title>
    <div *ngFor="let mat of f.material">
      <mat-checkbox
        value="{{ mat }}"
        style="font-family: 'Open Sans'; color: white;"
        (change)="setFilter($event, mat)"
        [checked]="filter ? filter.includes(mat) : false"
      >
        {{ mat }}</mat-checkbox
      >
    </div>
  </mat-card>
</div>
