.filters {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  flex-wrap: wrap;
}

.categories {
  flex: 1;
}

.mat-checkbox-inner-container {
  background: black;
}

.color-selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.color-selection div {
  width: 50%;
}

.material {
  flex: 1;
}

.card {
  width: 140px;
}

@media only screen and (max-width: 680px) {
  .card {
    margin: 0;
    margin-bottom: 15px;
  }

  .filters {
    align-items: center;
  }
}
