.shipping-form{
    margin: auto;
    padding: 4em;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background: rgb(247, 250, 252);
  width: 70%;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
  0px 2px 5px 0px rgba(50, 50, 93, 0.1),
  0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}

.shipping-form form .form-group{
    width: 100%;

}