<div
  class="header"
  [style.background-image]="
    'url(assets/products/emily_quilt_mending_detail_2.jpg)'
  "
></div>
<div class="about">
  <h3>This is what Evansgray is all about</h3>
  <div
    class="about-img"
    [style.background-image]="'url(assets/em-hands-8.jpg)'"
  ></div>
  <p>
    Evansgray strives to put textiles into the world that are crafted with a
    care and quality worthy of becoming an heirloom piece. The combination of
    natural fiber and plant-based dyes build a foundation within each textile,
    like an honest blank slate for the years of memories to come.
  </p>
</div>
<div class="letter-container">
  <div class="flex-1">
    <div class="letter">
      <h4>A letter to you</h4>
      <p>
        Growing up in Memphis, TN, I learned the importance of the past at a
        young age. My mom taught me about the badass, oddball women of my family
        tree; my dad taught me to dissect, analyze, and experiment with anything
        that piqued my interest. I remember being a tiny little kid, curled up
        in their bed studying the lines of my great-grandmother’s quilts and
        listening to stories about her 92 years of life. There were so many
        moments sewn into this intricate work of art and so many markings from
        its years of use.
        <br />
        <br />
        A textile’s ability to retain emotion is powerful. <br />
        <br />
        The same quilt came with me to college, where I continued to study it as
        I learned about the history and creation of textiles. My interest piqued
        at the mention of natural dye. By the time I finished one simple onion
        skin dye bath, I was hooked. It is a process that requires
        acknowledgement and appreciation of the past, a meditative process
        requiring one’s full attention, and the foresight to develop upon
        millennia of historical record. <br />
        <br />
        Every few years, I sit down with that quilt and mend any new tears. I
        want it to live forever. <br />
        <br />
        Good and bad, heartwarming to heart wrenching, I have learned the
        intrinsic value of referencing tradition when looking to the future.
        Slow art reminds us to be present in the moment, learn from the past,
        and create a sustainable future. Evansgray is my contribution to the
        world. I want to create wholesome, functional items that are worth
        mending and passing along to our future great-grand children. <br />
        <br />
        With love, <br />
        <br />
        Emily Harrison
      </p>
    </div>
  </div>
  <div class="flex-1">
    <div class="letter-pic">
      <img src="../../../assets/emily_quilt_couch_bliss_sitting.jpg" alt="" />
    </div>
  </div>
</div>

<div class="natural-dye">
  <h4>Why natural dye?</h4>
  <div class="nb">
    <div class="why-img flex-1">
      <img src="../../../assets/apron_mix_detail.jpg" alt="" />
    </div>
    <div class="flex-1">
      <p>
        I fell in love with natural dye as an art student in 2012. With that
        first onion skin dye bath, I knew I’d found my passion. Natural dyeing
        combines elements of the cooking, chemistry, experimentation, and slow
        art practices that fuel my drive to create. <br />
        <br />
        I adore the hands-on, slow-moving practice of natural dye, where time
        becomes an ingredient in color development. Natural colors have a
        certain depth and subtlety that cannot be achieved by other means. Every
        natural color tells a story. I dedicate my studio practice to the
        experimental nature of plant based dyes and how they can be incorporated
        into our everyday lives. Over time, I hope to continue learning the
        intricacies of natural dye while sharing natural colors with the world.
      </p>
    </div>
  </div>
</div>
<div class="history">
  <div class="history-words flex-1">
    <h4>An extrodinarily brief history of natural dyes</h4>
    <p>
      Early natural dyers - dating back to, at least, the advent of agriculture
      over 12,000 years ago - likely discovered their colors through cooking.
      Madder, weld, indigo, and walnut were recorded as known dyestuffs by the
      end of the first century BCE, all four of these dyes can be found as
      components of many Evansgray colors. One of the most remarkable aspects of
      natural dye is the further development of color in conjunction with a
      textile’s age and use. Synthetic dyes became readily available as a
      cheaper, faster alternative to traditional dye techniques in the late
      1800s. Natural dye processes faded into relative obscurity. As artists
      shift their interests toward a return to slower, more thoughtful
      processes, natural dye is seeing a resurgence in popularity.
    </p>
  </div>
  <div class="history-squares flex-1">
    <div
      class="square"
      style="background-position-x: -50px;"
      [style.background-image]="
        'url(assets/products/ribbon_classic_copper_9.jpg)'
      "
    ></div>
    <div
      class="square"
      [style.background-image]="
        'url(assets/products/ribbon_classic_orange_cream_3.jpg)'
      "
    ></div>
    <div
      class="square"
      [style.background-image]="
        'url(assets/products/ribbon_classic_dogwood_3.jpg)'
      "
    ></div>
    <div
      class="square left"
      [style.background-image]="
        'url(assets/products/ribbon_classic_sunpainted_blue_5.jpg)'
      "
    ></div>
  </div>
</div>
