@import "../../../styles/variables";

.footer {
  background: $blue;
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1em 10%;
  padding-bottom: 0;
  flex-direction: column;
  margin-top: 5em;

  .ls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    flex: 1;
    padding-bottom: 0;

    img {
      width: 85px;
      padding: 5px;
      margin-left: -5px;
    }

    .social img {
      width: 40px;
      margin: 10px;
      cursor: pointer;
      background: none;
    }
  }
}

.categories {
  color: white;
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
  text-align: end;
  width: 50%;

  ul {
    list-style-type: none;
    margin: 5px;
  }

  h3 {
    margin: 5px;
  }
}

.bar {
  height: 1px;
  background-color: white;
  display: block;
}

.sitemap {
  color: white;
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
  text-align: start;
  width: 50%;
  display: flex;
  flex-wrap: wrap;

  ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
  }

  h3 {
    margin: 5px;
  }
}

.left {
  display: flex;
  justify-content: flex-start;
  flex: 2;
  min-width: 300px;
}

.right {
  display: flex;
  justify-content: flex-start;
  flex: 2;
}

.l {
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 7em;
  justify-content: center;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright p {
  color: white;
}

@media only screen and (max-width: 680px) {
  .left {
    justify-content: center;
  }

  .sitemap {
    text-align: center;
    margin-bottom: 0;
  }

  .footer {
    padding: 110px 15px 15px;
    background-size: cover;
  }
}
