<div class="footer">
  <div class="top">
    <div class="left">
      <div class="sitemap">
        <button class="light-blue-sm" [routerLink]="['/contact']">
          Commission
        </button>
        <button class="light-blue-sm" [routerLink]="['/contact']">
          Bespoke
        </button>
        <button class="light-blue-sm" [routerLink]="['/about']">About</button>
        <button class="light-blue-sm" [routerLink]="['/about']">
          Natural Dye
        </button>
      </div>
    </div>
    <div class="ls">
      <div class="l">
        <img src="/assets/EvansgrayLogo.png" alt="" />
      </div>
      <div class="social">
        <img src="/assets/pinterest-round.svg" alt="" matTooltip="pinterest" />
        <img src="/assets/instagram-round.svg" alt="" matTooltip="@evansgray" />
        <img src="/assets/email-round.svg" alt="" matTooltip="Email Me" />
      </div>
    </div>
  </div>
  <div class="bottom">
    <mat-divider></mat-divider>
    <div class="copyright">
      <p>Copyright Evansgray 2020</p>
    </div>
  </div>
</div>
