@import '../../../variables';

.product-display{
    @include shadow;
    display: flex;
    flex-direction: row;
    margin: 2em;

    .product-img{
        flex: 1;
        overflow: hidden;

        img{
            width: 105%;
        }
    }

    .product-info{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


.product-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .product-selection{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.product-top{

    h2{
        text-align: center;
    }
}