@import '../../../styles/variables';


.hero{
    display: flex;
    height: 1000px;
    align-items: center;
 }


.product-display{
    @include shadow;
    background: white;
    display: flex;
    flex-direction: row;
    margin: 2em;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 600px;

    .product-img{
        flex: 1;
        overflow: hidden;
        margin-bottom: -5px;
        max-height: 500px;
        min-width: 400px;
        max-width: 600px;
    }

    .product-info{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 600px;
    }
}


.product-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;

    .product-selection{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.cart{
    display: flex;
    flex-direction: row;
    align-items: center;

    div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.product-top{

    h2{
        color: $blue;
        text-align: center;
    }
}

.tab{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    justify-content: center;
    margin: auto;
    padding: 15px;
    overflow: scroll;
}

.thumbnails{
    position: absolute;

    .thumbnail{
        @include shadow;
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin: 15px;

        img{
            width: 100%;

        }
    }
}