<div class="hero" *ngIf="product$ | async as product">
  <div class="product-display">
    <div class="product">
      <div class="thumbnails">
        <div
          *ngFor="let photo of product.images"
          class="thumbnail"
          (mouseenter)="hovered = photo"
          (click)="hovered = photo"
        >
          <div
            class="thumbnail-img"
            [style.background-image]="'url(assets/products/' + photo + '.jpg)'"
          ></div>
        </div>
      </div>

      <div class="product-wrapper">
        <div
          class="product-img"
          *ngIf="hovered; else init"
          [style.background-image]="'url(assets/products/' + hovered + '.jpg)'"
        ></div>
        <ng-template #init>
          <div
            class="product-img"
            [style.background-image]="
              'url(assets/products/' + product.main + '.jpg)'
            "
          ></div>
        </ng-template>
      </div>
    </div>
    <div class="product-info">
      <div class="product-top">
        <h4>{{ product.title }}</h4>
        <p>
          {{ product.snippet }}
        </p>
      </div>
      <div class="product-bottom">
        <h4>{{ product.price | dollars }}</h4>
        <div class="product-selection">
          <div class="select">
            <select [(ngModel)]="quantity">
              <option
                *ngFor="let number of product.inventory | inventory"
                #quantity
                [ngValue]="number"
                >{{ number }}</option
              >
            </select>
          </div>

          <div *ngIf="!(auth.user$ | async)">
            <button class="green-btn" style="margin: 15px; width: 100%">
              Please login or register
            </button>
          </div>
          <div *ngIf="auth.user$ | async" class="cart">
            <button
              *ngIf="!cart$ || !(cart$ | async).includes(product.sku)"
              class="orange-btn"
              (click)="addToCart(product, quantity, auth.user$)"
            >
              Add to Cart
            </button>
            <div *ngIf="cart$ | async as skus">
              <button
                *ngIf="skus.includes(product.sku)"
                class="green-btn"
                (click)="addToCart(product, quantity)"
              >
                Change
              </button>

              <i
                class="material-icons"
                matTooltip="Remove from cart"
                style="font-size: 24px; color: #585353; margin: 15px;"
                *ngIf="skus.includes(product.sku)"
                (click)="removeCartItem(product)"
              >
                remove_circle
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="details">
    <div class="styling">
      <div class="detail-section">
        <h4 class="vertical">Styling</h4>
        <p>{{ product.styling }}</p>
      </div>
    </div>
    <div class="specs">
      <div class="detail-section">
        <h4 class="vertical">Color</h4>
        <p>{{ product.color }}</p>
      </div>
      <div class="detail-section">
        <h4 class="vertical">Description</h4>
        <p>{{ product.description }}</p>
      </div>
      <div class="detail-section">
        <h4 class="vertical">Care</h4>

        <p>{{ product.care }}</p>
      </div>
    </div>
    <div class="bouquet-15"></div>
    <!-- <div class="watercolor-1"></div> -->
  </div>
</div>
<div class="reccomended">
  <div class="resuls" *ngFor="let product of recommended$ | async">
    <product-card [product]="product"></product-card>
  </div>
</div>
<div class="social">
  <div class="social-card">
    <div class="social-img">
      <img
        src="../../../assets/emily_shoes_ribbon_gold_blue_seaside.jpg"
        alt=""
      />
    </div>
    <div class="social-cta">
      <h4>Love your Evansgray products?</h4>
      <p>Show me your photos on Instagram</p>
      <a href="https://www.instagram.com/_evansgray">@_evansgray</a>
      <p>#shopevansgray</p>
    </div>
  </div>
</div>
