.product{
    display: flex;
    flex-direction: row;
    padding: 2em;
    max-width: 1100px;
    margin: auto;

    .main-img{
        flex: 1;
        overflow: hidden;
    }

    .product-info{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    }
}

.tabs{
    height: 400px;
}

.purchase{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .product-selection{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}