<div class="slide-menu" [ngClass]="menuOpen ? 'open' : ''">
  <ul class="links">
    <li routerLink="/" (click)="menuOpen = !menuOpen"><h3>Home</h3></li>
    <li routerLink="/shop" (click)="menuOpen = !menuOpen"><h3>Shop</h3></li>
    <li><h3>About</h3></li>
    <li><h3>Contact</h3></li>
  </ul>
  <button class="green-btn" (click)="openModal()" *ngIf="!(auth.user$ | async)">
    <h3>Login</h3>
  </button>
  <div *ngIf="auth.user$ | async as user">
    <ul class="links">
      <li routerlink="/checkout" (click)="menuOpen = !menuOpen">
        <h3>View Cart</h3>
      </li>
      <li
        [routerLink]="['/account', user.displayName]"
        (click)="menuOpen = !menuOpen"
      >
        <h3>Order History</h3>
      </li>
      <li (click)="auth.signOut()" (click)="menuOpen = !menuOpen">
        <h3>Log Out</h3>
      </li>
      <li
        *ngIf="user.admin"
        routerLink="/dashboard"
        (click)="menuOpen = !menuOpen"
      >
        <h3>Dashboard</h3>
      </li>
    </ul>
  </div>
</div>
<div
  id="hamburger"
  class="hamburger ham"
  (click)="menuOpen = !menuOpen"
  [ngClass]="menuOpen ? 'color' : ''"
>
  <div id="rect1"></div>
  <div id="rect2"></div>
  <div id="rect3"></div>
</div>
