// Primary colors
$blue: #79AAC4;
$teal: #C4DDFF;
$pink: #FFC4C4;
$light-pink: #FFEAEA;
$gray: #7E7E7E;

// Alert
$error: #FF9793;
$error-text: white;
$snackbar: #83BFDB;
$snackbar-text: white;

@mixin round-white-btn{

}

@mixin nav-btn {
    
}