// Primary colors
$blue: #79AAC4;
$teal: #C4DDFF;
$pink: #ffa7a7;
$light-pink: #FFEAEA;
$gray: #7E7E7E;

// Alert
$error: #FF9793;
$error-text: white;
$snackbar: #83BFDB;
$snackbar-text: white;

@mixin white-btn{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 22px;
    background-color: white;
    color: $pink;
}

@mixin nav-btn {
    
}