@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700|Sacramento&display=swap');

h1, h2{
    font-family: 'Sacramento', cursive;
}

h3, h4, p {
    font-family: 'Ibarra Real Nova', serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
