.footer{
    background-image: url('../../../assets/footer-bck.svg');
    background-size: cover;
    width: 100%;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;

    .logo-social{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 2em;

        img{
            width: 85px;
            padding: 5px;
        }

        .social img{
            width: 40px;
            margin: 10px;
            cursor: pointer; 
        }


    }
}



