<div class="footer">
    <div class="top">
        <div class="left">
        <div class="sitemap">
            <h3>Evansgray Handmade</h3>
            <span class="bar"></span>
            <ul>
                <li [routerLink]="['/shop', {filter: 'ribbon'}]">Ribbon</li>
                <li [routerLink]="['/shop', {filter: 'aprons'}]">Aprons</li>
                <li [routerLink]="['/shop', {filter: 'napkins'}]">Napkins</li>
                <li [routerLink]="['/shop', {filter: 'table-runners'}]">Table Runners</li>
                <li [routerLink]="['/shop', {filter: 'notions'}]">Notions</li>
            </ul>
        </div>
        </div>
        <div class="logo-social">
        <div class="logo">
            <img src="/assets/EvansgrayLogo.png" alt="">
        </div>
        <div class="social">
            <img src="/assets/pinterest-round.svg" alt=""
                 matTooltip="pinterest">
            <img src="/assets/instagram-round.svg" alt=""
                 matTooltip="@evansgray">
            <img src="/assets/email-round.svg" alt=""
                 matTooltip="Email Me">
        </div>
        </div>
    </div>
    <div class="bottom">
        <mat-divider></mat-divider>
        <div class="copyright">
            <p>Copyright Evansgray 2020</p>
        </div>
    </div>
</div>
