<div class="footer">
    <div class="sitemap">

    </div>
    <div class="logo-social">
        <img src="/assets/EvansgrayLogo.png" alt="">
        <div class="social">
            <img src="/assets/pinterest-round.svg" alt=""
                 matTooltip="pinterest">
            <img src="/assets/instagram-round.svg" alt=""
                 matTooltip="@evansgray">
            <img src="/assets/email-round.svg" alt=""
                 matTooltip="Email Me">
        </div>
    </div>
    <div class="categories">
        <h3>Evansgray Handmade</h3>
        <ul>
            <li [routerLink]="['/shop', {filter: 'ribbon'}]">Ribbon</li>
            <li>Aprons</li>
            <li>Napkins</li>
            <li>Table Runners</li>
            <li>Notions</li>
        </ul>
    </div>
</div>
