<div class='shipping-form' style="font-size: 12px;">

    <div *ngIf="!(auth.user$ | async)">NOOPE</div>

    <form [formGroup]='orderForm' *ngIf="(auth.user$ | async) as user">
      <!-- user account: name and contact info ? chagne -->
      <div class="shipping-title" >
          <h2>Contact</h2>
        </div>
      <div class="form-group name" >
          <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Email</mat-label>
              <input
               formControlName="email"
              matInput required
              id="email"
              type="text">
          </mat-form-field>
        </div>
        <div class="shipping-title" >
          <h2>Shipping Information</h2>
        </div>
        
      <div class="form-group name" >
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Name</mat-label>
            <input
             formControlName="name"
            matInput required
            id="name"
            type="text">
        </mat-form-field>
        </div>
        <div class="form-group line1" >
          <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Address </mat-label>
              <input
              formControlName="line1"
              matInput required
              id="h"
              type="text">
          </mat-form-field>
        </div>
        <div class="form-group line2" >
          <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Line 2 </mat-label>
              <input
              formControlName="line2"
              matInput 
              id="hg"
              type="text">
          </mat-form-field>
        </div>
        <div class="form-group city" >
          <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>City</mat-label>
              <input
              formControlName="city"
              matInput required
              id="city"
              type="text">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Postal Code </mat-label>
              <input
              formControlName="postal_code"
              matInput required
              id="postal-code"
              type="text">
          </mat-form-field>
        </div>
        <mat-form-field class="form-group states" style="width: 100px;">
            <mat-label>State</mat-label>
            <mat-select matNativeControl 
                        formControlName="state"
                        required >
              <mat-option *ngFor="let state of stateService.getStates();" 
                          [value]="state">
                          {{state}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="button">
            <h3 (click)="proceedToPayment(orderForm.value, user)">Proceed to payment <span class="material-icons">
                payment
                </span></h3>
        </div>
    </form>
</div>

